

 // mixins 
 @mixin innerColor( $color: #0db6e0 ) {
  
    background-color: transparentize( $color , 0.05 );
    background-image:
      linear-gradient(
        90deg, 
        transparentize( lighten( $color, 5% ), 1 ) 10%,
        transparentize( lighten( $color, 10% ), 0.2 ) 30%,
        transparentize( lighten( $color, 15% ), 0 ) 70%,
        transparentize( lighten( $color, 10% ), 0.2 ) 80%,
        transparentize( lighten( $color, 5% ), 1 ) 90%
      ),
      linear-gradient( 
        to right,
        transparentize( lighten( $color, 15% ), 1 ) 0%,
        transparentize( lighten( $color, 15% ), 0 ) 100%
      ),
      linear-gradient( 
        to left,
        transparentize( lighten( $color, 15% ), 1 ) 0%,
        transparentize( lighten( $color, 15% ), 0 ) 100%
      );
    
    border-color: lighten( $color, 20% );
    
    box-shadow: 
      0 0 0.6em lighten( $color, 10% ) inset,
      0 0 0.4em lighten( $color, 5% ) inset,
      0 0 0.5em transparentize( $color, 0.5),
      0 0 0.1em transparentize( lighten( $color, 50% ), 0.5);
    
  }
  @mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
 // /mixins 
 $progressBarHeight: 30px;
.progress-bar-container {
    @include  border-radius($progressBarHeight/2);   

    background: #eee;
    border: 1px solid #ededed;
    height: $progressBarHeight - 2;
 
    .progress-bar {  
        @include  border-radius($progressBarHeight/2);   
          
        height: $progressBarHeight;
        width: 0;  
        position: relative;
        top: -1px;
        left: -1px;  
        
        background-size: 100px 30px, 130px 30px, 130px 30px;
        background-position: -20% center, right center, left center;
        background-repeat: no-repeat, no-repeat, no-repeat;

        transition: 
        opacity 0.2s ease,
        width 0.8s ease-out,
        background-color 1s ease,
        border-color 0.3s ease,
        box-shadow 1s ease;
      
        animation: pulse 3s ease-out infinite;
        
        &.green {    
            @include innerColor(green );
         }
        &.yellow {
            @include innerColor(yellow);
         }
         &.orange {
           
            @include innerColor(orange);
         }
         &.red {
            @include innerColor(red );
         }
         &.blue {
            @include innerColor(blue);
         }
         &.complete {
            animation: none;
         }

         .status {
            width: 100%;
            height: $progressBarHeight;
            line-height: $progressBarHeight;
            color: #fff;
            display: inline-block;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 700;
            opacity: 0;
         }
     }
}
@keyframes pulse {
  
    0% {
      background-position: -50% center, right center, left center;
    }
    
    100% {
      background-position: 150% center, right center, left center;
    }
    
  }

